.app-safari {
  text-align: left;
  width: 100%;
  height: 100%;

  .safari-header {
    width: 100%;
    height: 20px;
    line-height: 20px;
  }
  .safari-header {
    .address {
      width: 500px;
      height: 20px;
      border: 1px solid #bfbfbf;
    }

    .address + button {
      background-color: white;
      border: none;
    }
  }
  .safari-content {
    width: 100%;
    height: calc(~"100% - 25px");
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}